.career-history .background-fullwidth {
  padding: 100px 0;
}

.career-intro {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 4rem;
  height: fit-content;
}

.career-intro .intro-img-wrapper {
  position: relative;
  padding-right: 50px;
}

.career-intro .intro-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  opacity: 1;
}

.intro-img-wrapper .background-container {
  position: relative;
}

.intro-img-wrapper .background-layer {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom right,
    var(--earth-water-color),
    var(--tertiary-color)
  );
  border-radius: 24px;
  transform: rotate(-6deg) scale(1.05);
  opacity: 0.3;
}

.intro-img-wrapper .card {
  position: relative;
  width: 320px;
  height: 400px;
  background: linear-gradient(
    to bottom right,
    var(--earth-water-color),
    var(--tertiary-color)
  );
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.intro-img-wrapper .card:hover {
  transform: scale(1.1);
}

.intro-text {
  flex: 2;
}

.career-timeline .timeline-summary {
  position: sticky;
  height: fit-content;
  top: 100px;
  width: 100%;
}

.career-timeline .timeline-summary img {
  width: 80%;
  margin-top: 100px;
  border-radius: 20px;
}

.intro-text p,
.career-timeline p {
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: var(--fs-base);
  width: 100%;
}

.intro-image {
  width: 20%;
  margin-right: 100px;
  height: 300px;
  position: relative;
}

.intro-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  z-index: 10;
  position: relative;
  transition: 500ms;
  top: 0;
  left: 0;
  pointer-events: none;
}

.intro-image .background-div {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 50px;
  z-index: 0;
  border: 2px solid var(--background-inverted-color);
  transition: 500ms;
}

.intro-image img:hover & .intro-image > .background-div {
  background: red !important;
}

.career-history .divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none !important;
}

.divider.sub-container {
  padding-top: 0;
}

.divider p {
  white-space: nowrap;
}

.divider p:first-of-type {
  margin-right: 50px;
}

.divider p:last-of-type {
  margin-left: 50px;
}

.path-to-today-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-bottom: 100px;
}

.career-history .backdrop {
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  left: 0;
  background: var(--earth-water-color);
  opacity: 0.7;
  z-index: 0;
}

.path-to-today-wrapper .section {
  background: var(--tertiary-color);
  padding: 50px;
  position: relative;
  overflow: hidden;
  border: 10px solid var(--tertiary-color);
  z-index: 1;
}

.path-to-today-wrapper .section h2 {
  font-weight: 200;
  color: var(--text-inverted-color);
}

.path-to-today-wrapper .section:nth-of-type(1) {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.path-to-today-wrapper .section:nth-of-type(2) {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.path-to-today-wrapper .section:nth-of-type(3) {
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}

.path-to-today-wrapper .section:nth-of-type(4) {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.path-to-today-wrapper .section::after {
  position: absolute;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -50px;
  font-size: 8rem;
  color: var(--text-inverted-color);
  opacity: 0.08;
  border-radius: 100%;
  border: 15px solid var(--text-inverted-color);
  font-weight: 700;
}

.path-to-today-wrapper .section:nth-of-type(1)::after {
  content: "1";
}

.path-to-today-wrapper .section:nth-of-type(2)::after {
  content: "2";
}

.path-to-today-wrapper .section:nth-of-type(3)::after {
  content: "3";
}

.path-to-today-wrapper .section:nth-of-type(4)::after {
  content: "4";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-inverted-color);
}

.section-item p{
  color: var(--text-inverted-color);
}

.section h1 {
  color: var(--text-inverted-color);
}

.statistics-wrapper {
  background: linear-gradient(
    180deg,
    var(--earth-water-color) 0%,
    var(--tertiary-color) 100%
  );
  padding: 100px 0;
  color: var(--text-inverted-color);
}

.stats-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.stats-left,
.stats-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-block h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 4px;
  color: var(--text-inverted-color);
}

.stat-block p {
  opacity: 0.9;
  font-size: 14px;
  color: var(--text-inverted-color);
}

.stat-row {
  display: flex;
  gap: 48px;
}

.stat-row h3 {
  font-size: 28px;
  font-weight: 600;
}

.stat-row p {
  font-size: 13px;
  opacity: 0.9;
  color: var(--text-inverted-color);
}

.stat-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-info h4 {
  font-size: 16px;
  font-weight: 600;
}

.stat-info p {
  font-size: 13px;
  opacity: 0.9;
  color: var(--text-inverted-color);
}

.muted {
  opacity: 0.75;
}

.icon {
  font-size: 32px;
  opacity: 0.9;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.35);
  margin: 24px 0;
}

.timeline-wrapper {
  color: var(--text-color);
}

.timeline-wrapper .sub-container {
  padding: 100px 0;
}

.timeline-item {
  display: flex;
  gap: 24px;
  position: relative;
  border-bottom: 5px solid var(--border-color);
  border-radius: 10px;
}

.timeline-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  border-right: 2px dashed var(--background-inverted-transparent-color);
  padding-right: 24px;
  position: relative;
}

.timeline-item:first-of-type .timeline-left:first-of-type h3:first-of-type {
  color: var(--tertiary-color);
}

.timeline-left h3 {
  font-weight: 200;
}

.arrow-up {
  width: 0;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--background-inverted-color);
}

.arrow-down {
  width: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(50%);
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--background-inverted-color);
}

.timeline-content {
  padding: 50px 0;
  padding-left: 50px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .stats-container {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .stat-row {
    gap: 32px;
  }
}

@media (max-width: 1920px) {
  .timeline-wrapper {
    top: -400px;
  }
}

@media (max-width: 1300px) {
  .timeline-wrapper {
    top: -200px;
  }
  .career-history .background-fullwidth {
    padding: 100px 0;
  }
  .career-intro {
    flex-direction: column;
  }
  .intro-text p {
    width: 100%;
  }
  .intro-img-wrapper {
    margin: 0 auto;
  }

  .intro-img-wrapper .card {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .path-to-today-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro-img-wrapper {
    padding-right: 0 !important;
  }
  .career-history {
    padding-top: 50px;
  }

  hr {
    width: 100%;
  }
  section.career-intro {
    flex-direction: column;
  }

  .intro-text > p,
  .career-timeline p {
    width: 100%;
  }

  .intro-image {
    width: 100%;
    height: 300px;
    margin-right: 100px;
    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
  }

  .intro-image img {
    object-fit: cover;
  }

  .intro-image .background-div {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 50px;
    z-index: 0;
    border: 2px solid var(--background-inverted-color);
    transition: 500ms;
  }

  .career-timeline {
    flex-direction: column;
  }
  .career-timeline .timeline-summary {
    position: relative;
    top: 0;
  }

  .career-timeline .timeline-summary img {
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
  }

  .timeline {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    transform: translateY(100px);
  }

  .timeline-dot {
    position: absolute;
  }
}
@media (max-width: 600px) {
  .intro-image {
    height: 200px;
    margin-bottom: 0;
  }
  .background-div {
    display: none;
  }
  .timeline-content {
    border-radius: 0;
    padding: 50px 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}
