.social-links {
  background: var(--background-inverted-transparent-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  backdrop-filter: blur(5px);
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 10px;
  border-radius: 15px;
}

.actions-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  z-index: 50;
  padding: 80px 0;
  box-sizing: border-box;
}

.actions-wrapper.left {
  left: 10px;
}

.actions-wrapper.right {
  right: 10px;
}

.social-links a {
  color: var(--text-color);
  transition: transform 0.2s, color 0.2s;
}

.social-links a:hover {
  color: var(--tertiary-color);
}

.theme-toggle {
  font-size: 1.5rem;
  color: var(--text-color);
  background: var(--background-inverted-transparent-color);
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.theme-toggle button {
  backdrop-filter: blur(5px);
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle button:hover {
  color: var(--tertiary-color);
}
