.social-links {
  background: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1.75rem;
  padding: 40px 20px;
  border-radius: 25px;
}

.actions-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  z-index: 50;
  padding: 20px 0;
  box-sizing: border-box;
}

.actions-wrapper.left {
  left: 10px;
}

.actions-wrapper.right {
  right: 10px;
}

.social-links a {
  color: var(--background-color);
  transition: transform 0.2s, color 0.2s;
}

.social-links a:hover {
  color: #69ffad;
  transform: translateX(6px);
}

.theme-toggle {
  font-size: 1.5rem;
  color: var(--background-color);
  background: var(--text-color);
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.theme-toggle button {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
