.social-links {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 50;
  font-size: 1.75rem;
}

.social-links.left {
  left: 2rem;
}

.social-links.right {
  right: 2rem;
}

.social-links a {
  color: #cce1ff;
  transition: transform 0.2s, color 0.2s;
}

.social-links a:hover {
  color: #69ffad;
  transform: translateX(6px);
}
