/* Overlay content bottom-left */
.landing-content {
  position: relative;
  color: var(--text-color);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-left: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  z-index: 10;
}

.landing-content h1 {
  font-size: 3rem;
  margin: 0;
}

.landing-content h2 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 400;
  color: var(--text-color);
}

.landing-content p {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem 0;
  color: var(--text-color);
  width: fit-content;
}
.landing-content p:hover {
  color: var(--tertiary-color);
}

.landing-content button {
  font-size: 1.25rem;
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  color: var(--text-inverted-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.2s, transform 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.landing-content button:hover {
  background-color: var(--tertiary-color-hover);
  transform: translateY(-2px);
}