.about-section {
  background: var(--background-color);
  padding: 100px 0;
}

.about-content {
  display: flex;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.about-section h1 {
  font-size: 4rem;
  margin-bottom: 0rem;
  margin-top: 10rem;
}

.about-section h2 {
  margin-top: 2rem;
  font-size: var(--fs-heading);
}

.about-section p {
  line-height: 1.6;
  opacity: 0.9;
  font-size: var(--fs-base);
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.about-content .text-content-left {
  width: 60%;
  margin-right: 150px;
}

.text-content-left-inner {
  width: 70%;
}

.statistics {
  display: flex;
  gap: 3rem;
  margin-top: 10rem;
}

.statistic .stat-value {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Arvo", serif;
  margin: 0;
  color: var(--earth-water-color);
  line-height: 2.5rem;
}
.statistic .stat-description {
  margin: 0;
  color: var(--text-light-color);
}

.scene-content-right {
  position: relative;
  width: 40%;
  margin-top: 200px;
  background: linear-gradient(
    180deg,
    var(--sky-color),
    var(--earth-water-color)
  );
  overflow: hidden;
  border-radius: 50px;
}

@media (max-width: 1500px) {
  .about-content .text-content-left {
    flex-grow: 1;
    width: 100%;
    z-index: 1;
  }
  .text-content-left-inner {
    width: 100%;
  }
  .about-content {
    flex-direction: column;
  }
  .scene-content-right {
    position: relative;
    height: 300px;
    z-index: 0;
    width: 100%;
    margin-top: 100px;
  }
}

@media (max-width: 700px) {
  .statistics {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1rem;
  }

  .text-content-left .statistic {
    text-align: left !important;
  }

  .about-section h1 {
    font-size: var(--fs-section-heading);
    margin-top: 0rem;
  }

  .statistic .stat-value {
    font-size: var(--fs-heading);
  }
}
