.footer {
  background: linear-gradient(to right, #2563eb, #1d4ed8); /* blue gradient */
  padding: 3rem 0; /* py-12 ~ 48px */
  text-align: center;
}

.footer-container {
  max-width: 72rem; /* max-w-6xl ~ 1152px */
  margin: 0 auto;
  padding: 0 2rem; /* px-8 ~ 32px */
  font-size: 1.125rem; /* text-lg ~ 18px */
}

.footer .footer-container p {
  color: white;
}
.footer-backdrop {
  background: var(--background-tertiary-color);
}

.footer-backdrop .img-wrapper{
  width: 100%;
  overflow: hidden;
}

.footer-backdrop img {
  position: relative;
  transform: translateX(-10%) translateY(10%);
  width: 120%;
  height: auto;
  object-fit: cover;

}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 130px;
  }
}
