html,
body,
#root {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-family: "Arvo", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 15rem;
}

.button-primary {
  all: unset;
  background: var(--tertiary-color);
  color: var(--text-inverted-color);
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.button-secondary {
  all: unset;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.button-primary:hover {
  opacity: 0.8;
}

hr {
  width: 80%;
}

div.section-title {
  width: fit-content;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.section-title h1 {
  margin: 0;
  font-size: var(--fs-heading);
}

.section-title hr {
  margin-top: 1rem;
  border: none;
  height: 10px;
  background-color: var(--tertiary-color);
  width: 50%;
}

@media (max-width: 1920px) {
  .container {
    padding-top: 5rem;
    width: 60%;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
