html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--background-color)
}
.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.earth-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
