.logo {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgb(140, 213, 255);
  background: rgb(4, 22, 48);
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 50px;
}

.logo h2 {
  margin: 0;
}

.vertical-nav {
  position: sticky;
  top:0;
  z-index: 20;
  font-family: "Inter", sans-serif;
  border-right: 1px solid rgba(255, 255, 255, 0.164);
  padding-right: 25px;
  height: 50vh;
  padding-left: 25px;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.vertical-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-nav li {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
  position: relative;
  text-align: center;
}

.vertical-nav li:hover {
  color: #69d5ff;
  transform: translateX(4px);
}

.vertical-nav li.active {
  color: #69d5ff;
}
